@page
@model DiamondAssessment.Pages.Guest.CreateForm.CreateFormModel

@{
    ViewData["Title"] = "RegisterForm Guest";
    Layout = "Shared/_Layout";
}
@section Styles
{
<link href="~/css/create-form.css" rel="stylesheet" />
}
<form method="post" class="report-container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1>Để lại thông tin</h1>
    <div class="report-item">
        <label asp-for="RegisterForm.Name" class="control-label"></label>
        <input asp-for="RegisterForm.Name" class="form-control" />
        <span asp-validation-for="RegisterForm.Name" class="text-danger"></span>
    </div>
    <div class="report-item">
        <label asp-for="RegisterForm.PhoneNumber" class="control-label"></label>
        <input asp-for="RegisterForm.PhoneNumber" class="form-control" />
        <span asp-validation-for="RegisterForm.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="report-item">
        <label asp-for="RegisterForm.Email" class="control-label"></label>
        <input asp-for="RegisterForm.Email" class="form-control" />
        <span asp-validation-for="RegisterForm.Email" class="text-danger"></span>
    </div>
    <div class="report-item">
        <label asp-for="RegisterForm.Description" class="control-label"></label>
        <input asp-for="RegisterForm.Description" class="form-control" />
        <span asp-validation-for="RegisterForm.Description" class="text-danger"></span>
    </div>
    <div class="report-submit">
        <button type="submit" value="create" class="submit-button">Gửi đơn</button>
    </div>
    
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}