@page
@using Entities.Models.Enum
@using NuGet.Protocol
@model DiamondAssessment.Pages.Manager.SealingReport.Create
@{
ViewData["Title"] = "Create sealing";
Layout = "Shared/_Layout";
var role = HttpContext.Session.GetString("Role");
if (role is not "Staff") Response.Redirect("/Error");
}
<h1>Do you want to create <strong class="text-warning">Sealing Report</strong> for this paper</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SR.CreatedAt" class="control-label"></label>
                <input asp-for="SR.CreatedAt" class="form-control" readonly />
                <span asp-validation-for="SR.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Manager/CommitmentForm/Index">Back to List</a>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
