@page
@model DiamondAssessment.Pages.Manager.CommitmentForm.UpdateModel
@{
    ViewData["Title"] = "Update";
}
<h1>Approve</h1>

<h4>Commitment Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommitmentForm.Id" />
            <div class="form-group">
                <label asp-for="CommitmentForm.PaperId" class="control-label"></label>
                <input asp-for="CommitmentForm.PaperId" class="form-control" readonly />
                <span asp-validation-for="CommitmentForm.PaperId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommitmentForm.CreatedAt" class="control-label"></label>
                <input asp-for="CommitmentForm.CreatedAt" class="form-control" readonly />
                <span asp-validation-for="CommitmentForm.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Approve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Manager/CommitmentForm/Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
