@page
@model DiamondAssessment.Pages.DeleteFormModel
@{
    ViewData["Title"] = "DeleteForm";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "Staff") Response.Redirect("/Error");
}
<h1>Rejecting</h1>

<h3>Are you sure you want to reject this?</h3>
<div>
    <h4>Register Form</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.registerForm.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.registerForm.Name)
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.registerForm.Description)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.registerForm.Description)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="registerForm.Id" />
        <input type="submit" value="Reject" class="btn btn-danger" /> |
        <a asp-page="/Staff/RegisterForm/FormPage">Back to List</a>
    </form>
</div>