@page
@model DiamondAssessment.Pages.Staff.Diamond.Create
@{
    Layout = "Share/_Layout";
    ViewData["Title"] = "Create Diamond";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "3") Response.Redirect("/Error");
}

<h1>@ViewData["Title"]</h1>

<h4>Diamond</h4>

<div class="row">
    <div class="col-md-4">
        <form action="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diamond.Id" class="control-label"></label>
                <input asp-for="Diamond.Id" class="form-control" disabled />
                <span asp-validation-for="Diamond.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diamond.Name" class="control-label"></label>
                <input asp-for="Diamond.Name" class="form-control" />
                <span asp-validation-for="Diamond.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diamond.Description" class="control-label"></label>
                <input asp-for="Diamond.Description" class="form-control" />
                <span asp-validation-for="Diamond.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diamond.Price" class="control-label"></label>
                <input asp-for="Diamond.Price" class="form-control" />
                <span asp-validation-for="Diamond.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>