@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You don't have permission to access that page.</h2>
<a asp-page="/Login">Back to login</a>


