@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
<link href="~/css/home-page.css" rel="stylesheet" />
}
<div>
    <h1 class="display-4 content-body-header">Diamond Assessment and Important Information</h1>
    <p>Diamonds are precious jewelry items with the highest value today. To own a genuine diamond, you'll need to pay a relatively large amount. Determining whether a diamond is natural, synthetic, or artificial is the task of the GIA assessment center. Follow along to learn more about the GIA diamond assessment process through this article.</p>

    <h1 class="display-4 content-body-header">Information Recorded on the Assessment Certificate</h1>
    <div>
        <div class="report-item">
            <strong>GIA Report Number:</strong> <span> The number engraved next to the diamond to certify its authenticity.</span>
        </div>
        <div class="report-item">
            <strong>Shape and Cutting Style:</strong> <span>The shape and cut style of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Measurement:</strong> <span>The dimensions of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Carat Weight:</strong> <span>The weight of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Color Grade:</strong> <span>The color grade of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Clarity Grade:</strong> <span>The clarity grade of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Cut Grade:</strong> <span>The quality of the diamond's cut.</span>
        </div>
        <div class="report-item">
            <strong>Polish:</strong> <span>The polish grade of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Symmetry:</strong> <span>The symmetry grade of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Fluorescence:</strong> <span>The fluorescence of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Clarity Characteristics:</strong> <span>The unique identifying characteristics of the diamond.</span>
        </div>
        <div class="report-item">
            <strong>Security Features:</strong> <span>The security features of the diamond.</span>
        </div>
    </div>

    <h1 class="display-4 content-body-header">Diamond Size and Assessment Fees</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Size Range (mm)</th>
                <th>Assessment Fee (VNĐ)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Under 10.0 mm</td>
                <td>Varies</td>
            </tr>
            <tr>
                <td>2.5 – 2.99 mm</td>
                <td>60,000</td>
            </tr>
            <tr>
                <td>3.0 – 3.49 mm</td>
                <td>85,000</td>
            </tr>
            <tr>
                <td>3.5 – 3.79 mm</td>
                <td>130,000</td>
            </tr>
            <tr>
                <td>3.8 – 3.99 mm</td>
                <td>160,000</td>
            </tr>
            <tr>
                <td>4.0 – 4.49 mm</td>
                <td>250,000</td>
            </tr>
            <tr>
                <td>4.5 – 4.99 mm</td>
                <td>350,000</td>
            </tr>
            <tr>
                <td>5.0 – 5.39 mm</td>
                <td>420,000</td>
            </tr>
            <tr>
                <td>5.4 – 5.99 mm</td>
                <td>600,000</td>
            </tr>
            <tr>
                <td>6.0 – 6.49 mm</td>
                <td>900,000</td>
            </tr>
            <tr>
                <td>6.5 – 6.99 mm</td>
                <td>1,020,000</td>
            </tr>
            <tr>
                <td>7.0 – 7.39 mm</td>
                <td>1,200,000</td>
            </tr>
            <tr>
                <td>7.4 – 7.99 mm</td>
                <td>1,740,000</td>
            </tr>
            <tr>
                <td>8.0 – 8.29 mm</td>
                <td>2,160,000</td>
            </tr>
            <tr>
                <td>8.3 – 8.59 mm</td>
                <td>2,640,000</td>
            </tr>
            <tr>
                <td>8.6 – 8.79 mm</td>
                <td>3,600,000</td>
            </tr>
            <tr>
                <td>8.8 – 8.99 mm</td>
                <td>4,320,000</td>
            </tr>
            <tr>
                <td>9.0 – 9.29 mm</td>
                <td>5,400,000</td>
            </tr>
            <tr>
                <td>9.3 – 9.59 mm</td>
                <td>6,000,000</td>
            </tr>
            <tr>
                <td>9.6 – 9.99 mm</td>
                <td>6,600,000</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a class="btn btn-sm btn-primary btn-create-form" asp-page="./Guest/CreateForm/createForm">Create Diamond Assessment Form</a>
        <a class="btn btn-sm btn-primary btn-search-form" asp-page="./Guest/SearchForm/searchForm">Search Forms</a>
    </div>
</div>