@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
<link href="~/css/home-page.css" rel="stylesheet" />
}
<div>
    <h1 class="display-4 content-body-header">Kiểm định kim cương và các thông tin mà bạn nên biết</h1>
    <p>Kim cương là trang sức quý hiếm và có giá trị cao nhất hiện nay. Muốn sở hữu kim cương thật, chính hãng bạn sẽ phải trả một số tiền tương đối lớn. Vậy làm thế nào để xác định được kim cương giả thật, kim cương nhân tạo hay tự nhiên. Trung tâm kiểm định GIA sẽ làm nhiệm vụ này. Mời bạn đọc cùng theo dõi một số nội dung liên quan đến quá trình thẩm định kim cương GIA qua bài viết sau.</p>
    <h1 class="display-4 content-body-header">Nội dung ghi trên giấy kiểm định</h1>
    <div>
        <div class="report-item">
            <strong>GIA Report Number:</strong> <span> mã số được khắc lên cạnh viên kim cương để chứng nhận.</span>
        </div>
        <div class="report-item">
            <strong>Shape and Cutting Style:</strong> <span>Hình dạng mặt cắt viên kim cương.</span>
        </div>
        <div class="report-item">
            <strong>Measurement:</strong> <span>Kích thước viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Carat Weight:</strong> <span>trọng lượng viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Color Grade:</strong> <span> màu sắc viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Clarity Grade:</strong> <span>độ tinh khiết</span>
        </div>
        <div class="report-item">
            <strong>Cut Grade:</strong> <span>chất lượng chế tác</span>
        </div>
        <div class="report-item">
            <strong>Polish:</strong> <span>độ hoàn thiện của viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Symmetry:</strong> <span>Độ bóng viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Fluorescence:</strong> <span>độ phát sáng của viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Clarity Characteristics:</strong> <span>đặc điểm nhận dạng riêng của viên kim cương</span>
        </div>
        <div class="report-item">
            <strong>Security Features:</strong> <span>các thông số đảm bảo của viên kim cương</span>
        </div>
    </div>
    <div>
        <a class="btn btn-sm btn-primary btn-create-form" asp-page="./Guest/CreateForm/createForm">Tạo đơn thẩm định kim cương</a>
        <a class="btn btn-sm btn-primary btn-search-form" asp-page="./Guest/SearchForm/searchForm">Tra cứu đơn</a>
    </div>
        
</div>
