@page
@model DiamondAssessment.Pages.Logout

@{
    Layout = "Shared/_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-danger text-white">
                    <h3 class="text-center">Logout</h3>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Do you want to log out?</h5>
                    <form method="post" class="text-center mt-4">
                        <button type="submit" class="btn btn-danger btn-lg px-5">Logout</button>
                        <a asp-page="/Index" class="btn btn-secondary btn-lg px-5 ml-3">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
