@page
@model DiamondAssessment.Pages.Logout

@{
    Layout = null;
}

<h1>Logout</h1>

<div>
    <h3>Do you want to log out?</h3>
    <form method="post">
        <input type="submit" value="Logout" class="btn btn-danger" />
    </form>
</div>